.hp-container {
    align-items: stretch;
    background-image: url('../../assets/hp.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap !important; 
    justify-content: space-between;
    padding: 15% 5%;
    position: relative;
    flex-direction: row;
   
    gap: max(2rem, 2vw);

    .bg {
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1;
        background-color: #000;
        opacity: .75;
    }

    .first-svg {
        left: -25%;
        opacity: .3;
        position: absolute;
        top: 5%;
        height: 32rem;
        width: max(5rem, 60vw);
        z-index: 2;

    }

    .fp-left {
        display: flex;
        flex-direction: column;
        gap: max(1rem, 3vw);
        justify-content: center;
        width: 60%;

        .text {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 100%;

            .big-title {
                font-family: 'Brown Sugar', sans-serif;
                line-height: 1.4;
                font-size: max(25px, 5vw);
                position: relative;
                z-index: 3;
                color: #fff;
                font-weight: 500;
                width: fit-content;
                margin: 0;
            }

            .big-title2 {
                font-family: 'Brown Sugar', sans-serif;
                line-height: 1.4;
                font-size: max(25px, 5vw);
                position: relative;
                z-index: 3;
                color: #fff;
                font-weight: 500;
                width: fit-content;
                margin: 0;
                margin-left: max(0rem, 19vw);
            }
        }

        .fp-input {
            align-items: stretch;
            display: flex;
            height: 4rem;
            gap: max(.25rem, 1vw);

            .input1 {
                list-style: none;
                position: relative;
                z-index: 3;
                width: 31%;
                align-items: center;
                border: 1px solid grey;
                display: flex;
                gap: max(0.25rem, 1.5vw);
                padding: max(.25rem, .5vw) max(.25rem, 1vw);

                .input-icon {
                    align-items: center;
                    color: #fff;
                    display: flex;
                    font-size: max(20px, 1vw);
                    justify-content: center;
                }

                input {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    height: max(2rem, 2vw);
                    width: 100%;
                    outline: none;

                    &::placeholder {
                        color: #fff;
                        opacity: 1;
                        font-size: 15px;
                    }
                }

                .input-icon2 {
                    align-items: center;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-size: max(20px, 1.5vw);
                }
            }

            .input2 {
                list-style: none;
                position: relative;
                z-index: 3;
                width: 31%;
                align-items: center;
                border: 1px solid grey;
                display: flex;
                gap: max(0.25rem, 1.5vw);
                padding: max(0.25rem, 0.5vw) max(0.25rem, 1vw);

                .second-input-icon {
                    align-items: center;
                    color: #fff;
                    display: flex;
                    font-size: max(20px, 1vw);
                    justify-content: center;
                }

                input {
                    background-color: transparent;
                    border: none;
                    color: #fff;
                    height: max(2rem, 2vw);
                    width: 100%;
                    outline: none;


                    &::placeholder {
                        color: #fff;
                        opacity: 1;
                        font-size: 15px;

                    }
                }

                .second-input-icon2 {
                    align-items: center;
                    color: #fff;
                    display: flex;
                    justify-content: center;
                    cursor: pointer;
                    font-size: max(20px, 1.5vw);
                }
            }

            button {
                align-items: center;
                background-color: '';
                border: 2px solid white;
                border-radius: 0;
                cursor: pointer;
                display: flex;
                width: 17%;
                justify-content: center;
                overflow: hidden;
                transition: .3s ease-in-out;
                padding: max(0.25rem, 0.5vw) max(0.25rem, 1vw);
                position: relative;
                z-index: 3;

                p {
                    line-height: 1.7;
                    font-size: max(13.5px, .9vw);
                    color: #000 !important;
                    position: relative;
                    transition: .2s ease-in-out;
                    white-space: nowrap;
                    z-index: 4;
                }
            }
        }
    }

    .fp-right {
        align-content: center;
        display: flex;
        justify-content: center;
        position: relative;
        width: 35%;

        a {
            align-items: center;
            display: flex;
            height: max(5rem, 10vw);
            justify-content: center;
            left: -12%;
            position: absolute;
            top: -17%;
            width: max(5rem, 10vw);
            z-index: 5;

            .svg-ja {
                transition: .2s ease-out;
                height: fit-content;
                position: absolute;
                width: fit-content;
                height: 10rem !important;


                &:hover {
                    transform: rotate(60deg);
                }
            }

            .arrow-icon {
                transition: .2s ease-out;
                color: #fff;
                font-size: max(20px, 3.2vw);

                &:hover {
                    transform: scale(1.2) !important;
                }
            }  


        }


        .fp-img {
            height: max(10rem, 21.5vw);
            transition: .2s ease-in;
            width: max(10rem, 25vw);
            background-position: top;
            background-image: url('../../assets/fp-girl.png');
            position: relative;
            z-index: 1;
        }

        .fp-img2 {
            height: max(10rem, 21.5vw);
            transition: .2s ease-in;
            width: max(10rem, 25vw);
            background-position: top;
            background-image: url('../../assets/fp-girl2.png');
            left: -5rem;
            position: relative;
            transform: rotate(30deg);
            top: 5rem;
            z-index: 2;
        }

        .fp-img2:hover {
            transform: rotate(0);
            transform: scale(1.1);
        }
    }
}

@media(max-width:955px) {
    .hp-container {
        flex-direction: column;
        gap: max(2rem, 2vw);
        align-items: center;

        .first-svg {
            display: none;
        }

        .fp-left {
            align-items: center;
            width: 100%;

            .fp-input {
                width: 100%;
                align-items: center;
                justify-content: center;
                align-items: stretch;
                display: flex;
                gap: max(.25rem, 1vw);
            }

            .text {
                align-items: center;
                h1{
                    font-size: 5rem !important;
                }
            }
        }

        .fp-right {

            .fp-img{
                display: none;
            }
            .fp-img2{
                display: none;
            }
            .svg-ja {
                display: none;
            }

            .arrow-icon {
                display: none;
            }
        }
    }
}

@media(max-width:850px) {
    .hp-container {

        .fp-left {
            align-items: center;
            .fp-input{
                width: 100%;
                .input1{
                    width: 40%;
                }
                .input2{
                    width: 40%;
                }
            }
            .text{
                h1{
                    font-size: 4rem !important;
                }
            }

        }

        .fp-right {
            gap: max(1rem, 2vw);
            align-items: center !important;
            width: 100%;

            .fp-img2 {
                left: auto;
                top: auto;
                transform: scale(0);
                transform: rotate(0);
            }
        }
    }
}

@media(max-width:600px) {
    .hp-container {
        padding: 25% 5% 5%;
        

        .fp-left {
            width: 100% !important;
            // margin-bottom: 2rem;
            
            .text{
                h1{
                    font-size: 3rem !important;
                }
            }
            

            .fp-input {
                flex-direction: column;
                width: 100% !important;
                height:9rem;
                justify-content: center;
                align-items: center;
               

                .input1 {
                    width: 100%;
                  
                }

                .input2 {
                    width: 100%;
                }

                button {
                    width: 102.5%;
                }


            }
        }
    }
}

@media(max-width:420px) {
    .hp-container {
       
        

        .fp-left {
          
            
            .text{
                h1{
                    font-size: 2rem !important;
                }
            }
        }
    }
}
            