.au-container {
    align-items: stretch;
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row;
    justify-content: space-around;
    // padding: 5%;
    width: 100%;
    // height: 100%;

    .au-text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: max(.25rem, 1.5vh);
        justify-content: flex-start;
        padding: 0 1%;

        width: 30%;
        margin-left: 4rem;
        margin-top: 10.5%;
        // margin-left: 8%;

        h1 {
            font-family: 'Brown Sugar', sans-serif;
            line-height: 1.4;
            font-weight: 500;
            font-size: max(30px, 5vw);
            margin-bottom: -.4rem;
            color: #111;
        }

        p {
            font-size: max(14px, 1vw);
            line-height: max(30px, 2.5vw);
            color: #111;
            opacity: 80%;
        }


    }

    .au-right {
        height: 100vh !important;
        width: 55%;
        // padding: 0 5% !important;
        height: 100vh !important;
        padding: 0 !important;
        // margin-bottom: 2% !important;
        margin: 0 !important;
        overflow: hidden !important;

        a {
            position: relative !important;
            z-index: 1000;
        }


        .svg-ja {
            transition: .2s ease-in;
            position: absolute;
            top: -1rem;
            left: -1.5rem;
            z-index: 40;
            line-height: 1rem !important;

            &:hover {
                transform: rotate(70deg);
            }
        }

        .arrow-icon {

            position: absolute;
            top: 4.8rem !important;
            left: 5rem !important;
            z-index: 30;
        }




        .divi {
            display: flex;
            padding: 0;
            // height: 100vh !important;
            height: 100%;
            position: relative;
            padding: 0 2rem;


            .carousel-container {
                position: relative !important;
                overflow: hidden !important;
            }



            .fOlfLS {
                height: 100% !important;
            }

            .hbMISa {
                height: 100% !important;
            }



            .uwwmx {
                height: 100%;
            }




            .rec {
                &.rec-arrow {
                    &.rec-arrow-left {
                        display: none;
                    }

                    &.rec-arrow-right {
                        display: none;
                    }
                }

                .rec-carousel {
                    position: relative !important;
                }


            }

            .rec-dot {
                margin-top: 1rem;
                background-color: lightgray;
                box-shadow: none;
                outline: none;
                border: none;


                &:hover {
                    background-color: gray !important;
                    cursor: pointer;
                    box-shadow: none;
                }
            }

            .rec-pagination {
                position: absolute;
                bottom: 19%;
                left: 7.3%;
            }

            .rec-dot_active {
                margin-top: 17%;
                color: #111;
                background-color: #111;
                border: none;
                box-shadow: none;
                width: 13px;
                height: 13px;
                // margin: 0;
                // margin-top: 5.19%;


                &:hover {
                    background-color: gray !important;
                    cursor: pointer;
                    box-shadow: none;
                }
            }




            .cardss {

                display: flex;
                flex-direction: column;
                align-items: center !important;
                justify-content: center;


            }

            .imgja {
                height: 24rem;
                margin-top: 3%;
            }

            .card-details {
                width: 100%;
                height: 30%;
                display: flex;
                margin-bottom: 1rem;
                flex-direction: column;
                align-items: center !important;
                justify-content: center !important;

                h3 {
                    font-family: 'Brown Sugar', sans-serif;
                    font-size: 2rem;
                    // padding-top: 1rem;
                }

                .date {
                    font-size: 1.8rem;
                    font-family: 'Brown Sugar', sans-serif;
                }

            }

            .real-p {
                display: flex;
                justify-content: space-between;
                gap: 1.2rem;
                font-size: 1.2rem;
                margin-top: -3%;
                margin-bottom: -2%;
            }

            .card-1 {
                position: absolute;
                top: 15%;
                left: 1%;
                z-index: 4;
                background-color: white;
                width: 29rem;
                height: 38rem !important;
                border: #D3D3D3 solid 1px;
                box-sizing: border-box !important;
                // margin: 0 auto;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    border: none;
                    cursor: pointer;
                }

            }

            .card-2 {
                position: absolute;
                top: 26%;
                left: 8%;
                background-color: white;
                width: 29rem;
                height: 38rem !important;
                border: #D3D3D3 solid 1px;
                margin: 0;
                cursor: pointer;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    border: none;
                }

            }

            .card-3 {
                position: absolute;
                top: 15%;
                left: 26%;
                z-index: 4;
                background-color: white;
                width: 29rem;
                height: 38rem !important;
                border: #D3D3D3 solid 1px;
                margin: 0;
                cursor: pointer;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    border: none;
                }

            }

            .card-4 {
                position: absolute;
                top: 26%;
                left: 33%;
                background-color: white;
                width: 29rem;
                height: 38rem !important;
                border: #D3D3D3 solid 1px;
                margin: 0;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    border: none;
                    cursor: pointer;
                }

            }

            .card-5 {
                position: absolute;
                top: 15%;
                left: 51%;
                z-index: 4;
                background-color: white;
                width: 29rem;
                height: 38rem !important;
                border: #D3D3D3 solid 1px;
                margin: 0;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    border: none;
                    cursor: pointer;
                }

            }

            .card-6 {
                position: absolute;
                top: 26%;
                left: 58%;
                background-color: white;
                width: 29rem;
                height: 38rem !important;
                border: #D3D3D3 solid 1px;
                margin: 0;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    cursor: pointer;
                    border: none;
                }

            }

            .card-7 {
                position: absolute;
                top: 15%;
                left: 76%;
                z-index: 4;
                background-color: white;
                width: 29rem;
                height: 38rem !important;
                border: #D3D3D3 solid 1px;
                margin: 0;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    border: none;
                    cursor: pointer;
                }

            }

            .card-8 {
                // position: absolute !important;
                visibility: hidden !important;
                top: 21%;
                right: 1.8%;
                background-color: white;
                width: 29rem;
                height: 40rem !important;
                border: #D3D3D3 solid 1px;
                margin: 0;

                &:hover {
                    z-index: 10;
                    transform: scale(1);
                    background-color: #111;
                    color: white;
                    border: none;
                }

            }

        }

    }






}

@media(max-width:1632px) {
    .au-container {

        .au-right {
            .svg-ja {
                left: 10px !important;
            }

            .arrow-icon {
                left: 110px !important;

            }

            .divi {
                .rec-dot_active {
                    position: absolute !important;
                    left: -15%;
                    bottom: -5% !important;
                }

                .rec-pagination {
                    left: 14.5% !important;


                }

                .card-2 {
                    left: 5.5%;
                }

            }
        }
    }
}

@media(max-width:1400px) {
    .svg-ja {
        top: -23% !important;
        left: 101% !important;
    }

    .arrow-icon {
        top: -9% !important;
    }
}

@media (max-width:1300px) {
    .au-text {
        display: flex !important;
        width: 100% !important;
        align-items: center !important;
        text-align: center !important;
        padding: 1 5%;

        h1 {
            font-size: 5rem !important;
        }

        p {
            font-size: 1.5rem;
        }
    }

    .svg-ja {
        display: none;
    }

    .arrow-icon {
        display: none;
    }

    .au-right {
        // margin-left: 5rem;
        width: 100% !important;
        // display: flex !important;
        // justify-content: center !important;
        // align-items: center !important;



        .divi {
            padding-left: max(13rem, 20vh) !important;

            .card-2 {
                left: 8% !important;
            }


            .rec-pagination {
                top: 80% !important;
                padding-left: 4.5rem;
            }

            .rec-dot_active {
                top: -9px;
                left: 37% !important;
            }

        }
    }

}


@media(max-width:1200px) {
    .au-container {
        .au-text {

            padding: 0 !important;
            align-items: center;
            margin: 0 4% !important;

            .arrow-icon {
                left: 128%;
                top: 18% !important;
            }

            .au-right {
                .divi {
                    padding-left: 10rem !important;

                   
                }
            }
        }
    }
}

@media(max-width:1176px) {
    .au-container {
        .au-right {
            .divi {
                .card-2 {
                    left: 8% !important;
                }
            }
        }
    }
}

@media(max-width:1109px) {
    .au-container {
        .au-right {
            width: 100% !important;
            display: flex !important;

            // margin-left: max(15%, 10vh);
            .divi {
                width: 100% !important;
                padding-left: 10rem !important;

               

                .rec-dot_active {
                    position: absolute;
                    // left: -35%;
                    bottom: -5%;
                }

                .card-2 {
                    left: 10% !important;
                }
            }
        }
    }
}

@media(max-width:1096px) {
    .au-container {
        .au-right {

            .divi {
                .rec-pagination {
                    left: 17.5% !important;
                }

                .rec-dot_active {
                    left: 23% !important;
                    top: -21.5px !important;
                }

                .card-2 {
                    left: 5% !important;
                }
            }
        }
    }
}

@media(max-width:1000px) {
    .au-container {
        .au-text {


            .arrow-icon {
                left: 132%;
                top: 19% !important;
            }
        }

    }
}


@media(max-width:900px) {
    .au-container{
    .au-right {
        width: 100% !important;

        .divi {
            padding-right: 6rem !important;

            .rec-pagination {
                top: 74% !important;
                padding-left: 15rem;
            }

            .rec-dot_active {
                left: 218px !important;
                top: -49.7px !important;
            }


            .cardss {
                position: static !important;
                width: 90% !important;
                // height: 37rem !important;
                display: flex !important;

            }

            .imgja {
                width: 18rem;
            }

            .card-1 {

                position: static !important;
                width: 30rem !important;
                margin-right: 3rem !important;

            }

            .card-2 {
                position: static !important;

                width: 25rem !important;
                margin-right: 3rem !important;
            }
        }
    }
}
}

@media(max-width:800px) {
    .au-container {
        .au-right {
            .divi {
                .rec-pagination {
                    left: 43% !important;
                    top: 74% !important;
                    padding: 0 !important;
                }

                .rec-dot_active {
                    left: -15% !important;
                    top: -9.5px !important;
                }
            }
        }
    }
}


@media(max-width:700px) {
    .au-container {
        margin: 0 !important;
        padding: 0 !important;

        .au-text {
            margin: 0 !important;
        }

        .au-right {
            width: 100% !important;
            // margin-left: 5rem !important;


            .divi {
                margin: 0 !important;
                // margin-left: 2rem !important;
                padding-left: max(5rem, 10vh) !important;

                width: 100% !important;

                .rec-pagination {
                    top: 75% !important;
                    left: 39% !important;

                }

                .rec-dot_active {
                    top: -9px !important;
                }

            }



            .cardss {
                margin-left: 2rem;
                width: 18rem !important;
            }

            .imgja {
                width: 20rem !important;
            }

            .card-1,
            .card-2,
            .card-3,
            .card-4,
            .card-5,
            .card-6,
            .card-7 {
                width: 45rem !important;
            }

        }
    }
}

@media(max-width:609px) {
    .au-container {
        .au-right {
            width: 100% !important;

            .divi {
                width: 100% !important;
                padding: 0 !important;
                // margin-left: 2rem !important;

                .rec-dot_active {
                    position: absolute;
                    top: -9px !important;
                    left: -15% !important;
                }

                .rec-pagination {
                    // position: absolute !important;
                    left: 38% !important;
                }

              
               

                .card-1 {
                    max-width: 400px !important;
                  
                }
            }
        }
    }
}

@media(max-width:500px) {
    .au-container {
        .au-right {
            margin: 0 !important;
            // margin-left: 2rem !important;
            padding-left: 20px !important;

            .divi {
                padding: 0 !important;

                // width: 100% !important;
                // margin-left: 3rem !important;
                .rec-pagination {
                    // position: absolute !important;
                    left: 35.5% !important;
                }

                .rec-dot_active {
                    position: absolute !important;
                    top: -9px !important;
                    bottom: 20px !important;
                }

            }

            .imgja {
                width: max(15rem, 20vh) !important;
            }

            .card-1 {
                width: 400px !important;
            }
        }
    }
}

@media(max-width:400px) {
    .au-container {
        .au-right {
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;

            .divi {
                width: 100% !important;
                padding: 0 !important;
                // margin-left:  1rem !important;


                // margin-left: 1.5rem !important;
                .rec-pagination {
                    position: absolute !important;
                    left: 32.5% !important;
                }

                .rec-dot_active {
                    top: -9px !important;
                }
            }

            .card-1 {
                padding: 0 !important;
                // margin: 0 !important;
                
                border-left: 1px solid lightgray !important;
            }
        }
    }
}



@media(max-width:300px) {

    .au-container {
        .au-right {
            width: 100% !important;
            margin: 0 !important;
            padding: 0 .1rem !important;

            .divi {
                width: 100% !important;
                // padding-left: .5rem !important;

                .card-1{
                    left: -2rem !important;
                    padding: 0 !important;
                    margin:  0 !important;
                    
                }
            }

            .divi {
                .rec-pagination {
                    left: 25% !important;
                }

                .rec-dot_active {
                    top: -9px !important;
                }
                .dydPIA{
                    margin: 0 !important;
                    
                }
               
            }
        }
    }

    .au-text {
        margin: 0 !important;
        align-items: center !important;
        text-align: center;
    }

 
    
    




}