.au-container{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
    // width: 100%;
    
    .au-text{
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: max(.25rem,1.5vh);
        justify-content: flex-start;
        padding: 10rem 0;
        position: relative;
        width: 35%;
        margin-left: 4rem;
        margin-top: -1.5rem;

        h1{
            font-family: 'Brown Sugar', sans-serif;
            line-height: 1.4;
            font-weight: 500;
            font-size: max(30px,5vw);
            margin-bottom: -.4rem;
            color:#111;
        }
        p{
            font-size: max(14px,1vw);
            line-height: max(30px,2.5vw);
            color: #111;
            opacity: 80%;
        }

        .svg-ja{
            transition: .2s ease-in;
            position: absolute;
            top: 70%;
            left: 65%;
            &:hover{
                transform: rotate(60deg);
            }
        }

        .arrow-icon{
            position: absolute;
            bottom:10%;
            left: 81%;
         
        }
    }

    .au-right{
        align-items: center;
        display: flex;
        justify-content: center;
        position: relative;
        width: 55%;
        margin-top: -30rem;


        .img-holder{
            align-items: stretch;
            display: flex;
            gap: max(.5rem,1vw);
            padding: max(2rem,3vw);
            position: relative;
            width: 80%;

            .au-card1{
                background-color: white;
                border: 1px solid lightgray;
                display: flex;
                flex-direction: column;
                gap: max(1rem,1vw);
                padding: max(.5rem,1vw);
                position: absolute;
                transition: .2s ease-out;
                width: max(10rem,22vw);
                left: 5%;
                top: 36%;
                z-index: 3; 

                &:hover{
                    z-index: 10;
                    transform: scale(1.1);
                    background-color: #111;
                    color: white;
                    border: none;
                }
                .card1-img{
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('../../assets/au-card1.png');
                    height: max(10rem,20vw);
                }

                .card1-content{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: max(.5rem,1vw);
                    width: 100%;
                    

                    h3{
                        font-family: 'Brown Sugar', sans-serif;
                        line-height: 0;
                        font-weight: 500;
                        font-size: max(20px,1.5vw);
                        margin-bottom: .8rem;
                    }
                    .content-row{
                        align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                        // gap: max(10px,.25vw);
                        justify-content: space-evenly;
                        margin-bottom: -1rem;
                        width: 100%;
                        p{
                            font-size: 18px;
                        }
                    }
                    .data{
                        margin-bottom: 2rem;
                    }
                }
            }

            .au-card2{
                border: 1px solid lightgray;
                display: flex;
                flex-direction: column;
                gap: max(1rem,1vw);
                padding: max(.5rem,1vw);
                position: absolute;
                transition: .2s ease-out;
                width: max(10rem,22vw);
                background-color: white;
                left: 40%;
                top: 83%;
                z-index: 2;

                &:hover{
                    z-index: 10;
                    transform: scale(1.1);
                    background-color: #111;
                    color: white;
                    border: none;
                }

                .card2-img{
                    background-position: 50% 50%;
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-image: url('../../assets/au-card2.png');
                    height: max(10rem,20vw);
                }
                .card2-content{
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    gap: max(.5rem,1vw);
                    width: 100%;

                    h3{
                        font-family: 'Brown Sugar', sans-serif;
                        line-height: 0;
                        font-weight: 500;
                        font-size: max(20px,1.5vw);
                        margin-bottom: .8rem;
                    }
                    .content2-row{
                        align-items: center;
                        display: flex;
                        flex-wrap: wrap;
                        // gap: max(10px,.25vw);
                    
                        justify-content: space-evenly;
                        margin-bottom: -1rem;
                        width: 100%;
                        p{
                            font-size: 18px;
                        }

                    }
                        .data1{
                            margin-bottom: 2rem;
                        }
                   
                }
            }
        }
    }
}
@media(max-width:1600px){
    .au-container{
        .au-text {
            .arrow-icon{
                left: 85%;
                bottom: 8%;
            }
        }
    } 
}
@media(max-width:1200px){
    .au-container{
        .au-text {
            .arrow-icon{
                left: 91%;
                bottom: 6%;
            }
        }
    } 
}
@media(max-width:1000px){
    .au-container{
        .au-text {
            .arrow-icon{
                left: 96%;
                bottom: 5%;
            }
        }
    } 
}
@media(max-width:955px){
    .au-container{
        .au-text{
            width: 100%;
            align-items: center;
            margin-top: -10REM;
            h1 {
                font-size: 3rem;
            }
            p{
                font-size: 1.2rem;
            }
            .svg-ja{
                display: none;
            }
                .arrow-icon{
                    display: none;
                }
            
        }
        .au-right{
            // width: 100%;
            justify-content: center;
            margin-top: -10rem;
            

            .img-holder{
                display: flex;
                // justify-content: space-around;
                align-items: center;

                .au-card1{
                    width: 65%;
                    
                }
                .au-card2{
                    width: 65%;
                }
            }
        }
    }
}
@media(max-width:700px){
    .au-container{
        .au-right{
            width: 100%;
            .img-holder{
                width: 100%;
                justify-content: center;
                
                align-items: center !important;
                .au-card1{
                    position: unset;
                    width: 80%;
                }
                .au-card2{
                    position: unset;
                    width: 80%;
                }
            }
        }
    }
}
@media(max-width:550px){
    .au-container{
        display: flex;
        align-items: center;
        justify-content: center;
        .au-text{
            align-items: center;
            justify-content: center;
            width: 100%;
            display: flex;
            margin-right: 1rem;
           
        }
        .au-right{
            width: 100%;
            padding:0;
            .img-holder{
                margin-left: 1rem;
                width: 100%;
                justify-content: center !important;
                display: flex;
                flex-wrap: wrap;
                align-items: center !important;
                .au-card1{
                    position: unset;
                    width: 90%;
                }
                .au-card2{
                    position: unset;
                    width: 90%;
                }
            }
        }
    }
}