.au-container {
    align-items: stretch;
    display: flex;
    flex-wrap: wrap !important;
    flex-direction: row;
    justify-content: space-around;
    // padding: 5%;
    width: 100%;
    // height: 100%;

    .au-text {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        gap: max(.25rem, 1.5vh);
        justify-content: flex-start;
        padding: 0 1%;
        position: relative;
        width: 30%;
        margin-left: 4rem;
        margin-top: 12%;
        margin-left: 8%;

        h1 {
            font-family: 'Brown Sugar', sans-serif;
            line-height: 1.4;
            font-weight: 500;
            font-size: max(30px, 5vw);
            margin-bottom: -.4rem;
            color: #111;
        }

        p {
            font-size: max(14px, 1vw);
            line-height: max(30px, 2.5vw);
            color: #111;
            opacity: 80%;
        }

        .svg-ja {
            transition: .2s ease-in;
            position: absolute;
            top: -35%;
            left: 111%;
            z-index: 30;



            &:hover {
                transform: rotate(60deg);
            }
        }

        .arrow-icon {
            position: absolute;
            top: -21.5%;
            left: 123%;
            z-index: 30;

        }
    }

    .au-right {
        align-items: center;
        display: flex;
        height: 100vh !important;
        justify-content: center;
        width: 50%;
        overflow: hidden !important;
        // position: relative;

        .divi {
            display: flex;
            width: 100%;
            height: 100%;
            overflow: hidden;
            position: relative;

            .hbMISa {
                height: 100% !important;
            }

            .fOlfLS {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 100% !important;
            }

            .uwwmx {
                height: 100%;
            }


            .arrow-button.NEXT {
                display: none !important;
            }

            .arrow-button.PREV {
                display: none !important;
            }

            .rec-pagination {
                position: absolute;
                bottom: 12%;
                left: 6%;
            }

            .rec-dot {
                margin-top: 1rem;
                background-color: lightgrey;
                outline: none;
                border: none;


                &:hover {
                    background-color: gray !important;
                    cursor: pointer;
                    box-shadow: none;
                }
            }


            .rec-dot_active {
                margin-top: .9245rem;
                color: #111;
                background-color: #111;
                border: none;
                box-shadow: none;
                width: 13px;
                height: 13px;
                // margin: 0;
                // margin-top: 5.19%;


                &:hover {
                    background-color: gray !important;
                    cursor: pointer;
                    box-shadow: none;
                }
            }

        }


        .cardss {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 1px solid lightgray;
            height: 38.5rem;
            // width: 95% !important;
            padding: 1% 0;




            .card-image {
                padding: 1% 4%;
                // margin-top: 1.5rem;

                .imgja {
                    width: 100%;
                    height: 23.5rem;

                }
            }

            .card-details {
                display: flex;
                flex-direction: column;
                align-items: center;

                h3 {
                    font-size: 1.8rem;

                    margin-bottom: 2%;
                    font-family: 'Brown Sugar', sans-serif;
                }

                .real-p {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 2%;
                    gap: 1.2rem;
                    font-family: sans-serif;

                    p {
                        font-size: 1.2rem;
                    }
                }

                .date {
                    margin-top: 1%;
                    font-size: 1.6rem;
                    font-family: 'Brown Sugar', sans-serif;
                }

            }
        }

        .card-1 {

            position: absolute;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            background-color: white;
            top: 16%;
            left: 1.5%;
            z-index: 4;
            width: 28rem;
            height: 33rem;

            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }
        }

        .card-2 {
            position: absolute;
            background-color: white;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            top: 24%;
            left: 11%;

            width: 28rem;
            height: 33rem;

            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }
        }

        .card-3 {
            position: absolute;
            background-color: white;
            z-index: 4;
            width: 28rem;
            height: 33rem;
            top: 16%;
            left: 26.5%;

            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }


        }

        .card-4 {
            position: absolute;

            width: 28rem;
            height: 33rem;
            top: 24%;
            left: 36%;


            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }
        }

        .card-5 {
            position: absolute;
            background-color: white;
            z-index: 4;
            width: 28rem;
            height: 33rem;
            top: 16%;
            left: 51.5%;


            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }
        }

        .card-6 {
            position: absolute;
            width: 28rem;
            height: 33rem;
            top: 24%;
            left: 61% !important;


            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }
        }

        .card-7 {
            position: absolute;
            z-index: 4;
            background-color: #fff;
            width: 28rem;
            height: 33rem;
            top: 16%;
            left: 76.6%;


            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }
        }

        .card-8 {
            position: absolute;

            width: 28rem;
            height: 33rem;
            top: 24%;
            left: 86%;


            &:hover {
                z-index: 10;
                transform: scale(1);
                background-color: #111;
                color: white;
                border: none;
            }
        }

        .card-1 .imgja,
        .card-2 .imgja {
            margin-top: -1.5rem;
        }
        .card-3 .imgja,
        .card-4 .imgja,
        .card-5 .imgja,
        .card-6 .imgja,
        .card-7 .imgja,
        .card-8 .imgja{
            margin-top: 1rem;
            
        }


    }

    @media(max-width:1600px) {
        .svg-ja {
            top: -26% !important;
            left: 104% !important;
        }

        .arrow-icon {
            top: -12.5% !important;
        }
    }

    @media(max-width:1400px) {
        .svg-ja {
            top: -23% !important;
            left: 101% !important;
        }

        .arrow-icon {
            top: -9% !important;
        }
    }

    @media (max-width:1300px) {
        .au-text {
            width: 60% !important;
            align-items: center;
            padding: 1 5%;

            h1 {
                font-size: 5rem !important;
            }

            p {
                font-size: 1.5rem;
            }
        }

        .svg-ja {
            display: none;
        }

        .arrow-icon {
            display: none;
        }

        .au-right {
            margin-left: 5rem;
            width: 80% !important;
            justify-content: center !important;
            align-items: center !important;
        }


        .divi {
            .rec-pagination {
                top: 90%;

            }
        }

    }


    @media(max-width:1200px) {
        .au-container {
            .au-text {
                width: 100% !important;
                padding: 0 !important;

                .arrow-icon {
                    left: 128%;
                    top: 18% !important;
                }
            }
        }
    }

    @media(max-width:1000px) {
        .au-container {
            .au-text {
                .svg-ja {}

                .arrow-icon {
                    left: 132%;
                    top: 19% !important;
                }
            }
        }
    }
}

@media(max-width:900px) {

    .divi {
        .rec-pagination {
            top: 75% !important;
            left: 43% !important;

        }

        .cardss {
            position: static !important;
            width: 100% !important;
            height: 37rem !important;
            display: flex !important;

        }

        .card-1 {

            position: static !important;
            width: 28rem !important;
            margin-right: 1rem;

        }

        .card-2 {
            position: static !important;
            margin-left: 1rem;
        }
    }
}

@media(max-width:700px) {
    .au-container {
        .au-right {
            // width: 100% !important;
            margin: 0;

            .divi {
                .rec-pagination {
                    top: 75% !important;
                    left: 37% !important;

                }
            }

            .cardss {
                margin-left: 2rem;
                // width: 18rem !important;
            }

            .card-1 {
                // width: 16rem !important;
            }
        }
    }
}


@media(max-width:300px) {

    .au-container {
        .au-right {
            .divi {
                .rec-pagination {
                    left: 23% !important;
                }
            }
        }
    }

    .au-text {
        align-items: center !important;
        text-align: center;
    }

    .cardss {
        margin-left: 3rem !important;
    }



}