@font-face {
  font-family: 'Brown Sugar';
  src: url('./assets/fonts/brown-sugar.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}