.nav {
    box-shadow: 0 4px 8px 0 hsla(0, 0%, 65%, 0);
    height: 5rem;
    left: 0;
    position: fixed;
    top: 0;
    transition: .25s linear;
    width: 100vw;
    z-index: 5000000000000000 !important;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: regularMont, sans-serif;
    background-color: transparent;
    // border: 1px solid white;


    .nav-container {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        height: 100%;
        justify-content: space-between;
        padding: 0 max(1rem, 2vw);
        width: 100%;
        z-index: 3000 !important;

        .nav-logo {
            align-items: center;
            display: flex;
            gap: max(.25rem, .5vw);
            text-decoration: none;
            color: white;
            font-family: 'Brown Sugar', sans-serif;
            gap: 1rem;

            img {
                height: 2.5rem;
            }
        }

        .menu-links {
            align-items: center;
            display: flex;
            gap: max(.5rem, 1.5vw);
            height: 100%;
            justify-content: center;
            padding: 0 max(.1rem, .2vw);
            position: relative;
            width: 100%;
            // z-index: 2000 !important;

            .nav-link {
                align-items: center;
                display: flex;
                height: 100%;
                position: relative;
                z-index: 3000 !important;

                &:hover {

                    .mm-dropdown {
                        transform: rotate(90deg);
                    }

                    .mengamenu-container {
                        display: flex;

                    }

                    .au-mm-container{
                        display: flex;
                    }
                }

                a {
                    align-items: center;
                    color: #fff;
                    display: flex;
                    font-size: max(18px, .75vw);
                    gap: max(.25rem, .5vw);
                    justify-content: center;
                    transition: .3s ease-out;
                    padding: max(.25rem, .5vw) max(.1rem, .5vw);
                    text-decoration: none;
                    font-weight: 520;
                    z-index: 9999 !important;
                    // z-index: 4000 !important;
                }

                .au-mm-container {
                    display: flex;
                    border: 1px solid lightgray;
                    flex-wrap: wrap;
                    justify-content: center;
                    position: fixed;
                    background-color: #fff;
                    top: 8.8%;
                    left: 25%;
                    width: 50%;
                    height: 30rem;
                    display: none;
                    margin: 0;
                    transition: .2s ease-in;
                    padding: 1.5% 0%;

                    .am-left {
                        margin-top: 1rem;
                        display: flex;
                        justify-content: space-between;
                        width: 55%;

                        h3 {
                            margin-bottom: -.05rem;
                        }

                        .am-category {
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            width: 50%;

                            h3 {
                                margin-left: 3.1rem;
                                font-family: 'Brown Sugar', sans-serif;
                                font-size: 1.5rem;
                            }

                            ul {
                                display: flex;
                                flex-direction: column;
                                align-items: start;
                                list-style: none;



                                li {
                                    a {

                                        color: black;
                                        line-height: 1.5rem;
                                       font-family: Arial, Helvetica, sans-serif;
                                    }
                                }
                            }
                        }
                    }

                    .am-right {
                        width: 40%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: center;

                        .top {
                            display: flex;
                            justify-content: space-between;
                            flex-direction: row;
                            // padding: 1% 0;
                            height: 50%;
                            position: relative;
                            width: 100%;

                            .am-img1 {
                                background-image: url('./assets/fp-girl.png');
                                width: 49%;
                                height: 100%;
                                background-position: bottom;
                                background-repeat: no-repeat;
                                background-size: cover;
                            }

                            .am-img2 {
                                background-image: url('./assets/fp-girl2.png');
                                width: 49%;
                                height: 100%;
                                position: absolute;
                                top: 15%;
                                left: 40%;
                                background-position: bottom;
                                background-repeat: no-repeat;
                                background-size: cover;
                                transition: .2s ease-in;
                                transform: rotate(25deg);

                                &:hover {
                                    transform: rotate(0);
                                }
                            }
                        }
                        button{
                            background-color: #111;
                            font-family: sans-serif;
                            color: white;
                            width: 8.4rem;
                            height: 3rem;
                            cursor: pointer;
                            border-radius: 5px;
                            border: 1px solid #111;
                            box-shadow: #111;
                        }
                    }


                }

                .mm-dropdown {
                    color: white;
                    transition: .3s ease-out;

                }

                .mengamenu-container {
                    background: #fff;
                    border: 1px solid lightgray !important;
                    display: flex;
                    position: fixed;
                    width: 100vw;
                    top: 8.8%;
                    left: 0%;
                    height: 30rem;
                    display: none;
                   
                    transition: .2s ease-in;

                    .mm-left {

                        display: flex;
                        padding: 2% 2%;
                        justify-content: space-between;
                        width: 65%;
                        transition: .25s linear;




                        .menu-category {
                            display: flex;
                            flex-direction: column;
                            align-items: start;
                            width: 100%;



                            h3 {

                                color: #111;
                                margin-left: max(.5rem, .5vw);
                                margin-bottom: .1rem;
                                font-family: 'Brown Sugar', sans-serif;
                                font-weight: 600;
                                font-size: 1.3rem;

                            }

                            ul {
                                display: flex;
                                flex-direction: column;
                                list-style-type: none;
                                align-items: start;
                                justify-content: start;
                                padding: 0;

                                li {

                                    a {
                                        font-size: 1.2rem;
                                        color: #111;
                                    }
                                }
                            }

                        }
                    }

                    .mm-right {
                        width: 30%;
                        padding: 1% 4%;

                        font-family: 'Brown Sugar', sans-serif;

                        .top-right {
                            display: flex;
                            align-items: center;
                            justify-content: start;
                            padding: 0 3%;
                            margin-bottom: -.5rem;

                            a {
                                color: #111;
                                font-size: 12px;
                                font-family: sans-serif;
                                align-self: center;
                            }
                        }

                        .divi {
                            width: 100% !important;

                            .arrow-button.NEXT {
                                position: absolute;
                                top: 9%;
                                right: 5%;
                                transform: rotate(180deg);
                            }

                            .arrow-button.PREV {
                                position: absolute;
                                top: 9%;
                                right: 6.5%;

                            }

                            .rec-dot {
                                margin-top: 1rem;
                                background-color: lightgrey;
                                outline: none;
                                border: none;


                                &:hover {
                                    background-color: gray !important;
                                    cursor: pointer;
                                    box-shadow: none;
                                }
                            }


                            .rec-dot_active {
                                margin-top: .9245rem;
                                color: #111;
                                background-color: #111;
                                border: none;
                                box-shadow: none;
                                width: 13px;
                                height: 13px;
                                // margin: 0;
                                // margin-top: 5.19%;


                                &:hover {
                                    background-color: gray !important;
                                    cursor: pointer;
                                    box-shadow: none;
                                }
                            }



                            .cardss {
                                width: 95% !important;
                            }
                        }
                    }


                    .cardss {
                        justify-content: center;
                        border: 1px solid lightgray;
                        width: 90% !important;
                        padding: 1% 0;
                        height: 19.5rem;
                        

                        &:hover {
                            background-color: #111;
                            // transform: scale(1.1);
                            color: #fff;
                        }


                    }

                    .card-image {
                        display: flex;
                        justify-content: center;
                      
                    }

                    img {
                        height: 12.5rem;
                        width: 95%;
                        
                    }

                    .card-details {
                        display: flex;
                        flex-direction: column;
                        align-items: center;


                        h3 {
                            font-size: 1rem;
                            margin-bottom: 1%;
                            font-family: 'Brown Sugar', sans-serif;
                        }

                    }

                    .real-p {

                        display: flex;
                        justify-content: space-between;
                        margin-top: -1%;
                        gap: .8rem;
                        font-family: sans-serif;

                        p {
                            font-size: .9rem;
                        }
                    }

                    .date {
                        margin-top: -.5%;
                    }
                }
            }
        }

        .nav-auth {
            align-items: center;
            display: flex;
            gap: .5rem;

            .auth-link {
                gap: .5rem;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column-reverse;
                flex-wrap: wrap;
                align-content: space-between;

                a {
                    gap: .5rem;
                    flex-direction: column-reverse;
                    flex-wrap: wrap;
                    align-content: space-between;
                    align-items: center;
                    background-color: transparent;
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    padding: max(.35rem, .35vw) max(.5rem, 1.25vw);
                    text-decoration: none;

                    p {
                        line-height: 1.7;
                        transition: .3s ease-in-out;
                        white-space: nowrap;
                        z-index: 2;
                        font-weight: 400;
                        font-size: max(18px, 0.85vw);
                        color: #fff;

                    }
                }
            }

            .auth-link1 {
                gap: .5rem;
                display: flex;
                justify-content: space-evenly;
                flex-direction: column-reverse;
                flex-wrap: wrap;
                align-content: space-between;

                a {
                    gap: .5rem;
                    flex-direction: column-reverse;
                    flex-wrap: wrap;
                    align-content: space-between;
                    align-items: center;
                    background-color: transparent;
                    border: 2px solid white;
                    border-radius: max(30px, 3vw);
                    cursor: pointer;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    position: relative;
                    transition: .3s ease-in-out;
                    padding: max(.35rem, .35vw) max(.5rem, 1.25vw);
                    text-decoration: none;
                    background-color: black;
                    height: 1.5rem;

                    p {
                        line-height: 1.7;
                        color: #fff;
                        position: relative;
                        white-space: nowrap;
                        z-index: 4;
                        font-weight: 500;
                        font-size: max(18px, 0.85vw);
                    }
                }
            }
        }

        .mobile-nav {
            display: none !important;

        }

    }
}

@media(max-width:1010px) {
    .nav {
        .nav-container {

            .nav-logo,
            .menu-links,
            .nav-auth {
                display: none;
            }

            .mobile-nav {
                display: flex !important;

                .mn-container {
                    width: 100%;
                    position: fixed;
                    top: 0px;
                    left: 0px;
                    height: 80px;
                    z-index: 2000 !important;
                    justify-content: space-between;
                    padding: 0 max(1rem, 2vw);
                    display: flex;
                    align-items: center;
                    transition: 0.2s;
                    background-color: transparent !important;
                    box-shadow: none !important;

                    .mn-logo {
                        align-items: center;
                        display: flex;
                        gap: max(.25rem, .5vw);
                        text-decoration: none;

                        img {
                            height: 2.5rem;
                        }

                        a {

                            text-decoration: none;
                            align-items: center;
                            display: flex;
                            gap: .3rem;
                            color: #fff;
                            font-family: 'Brown Sugar', sans-serif;
                        }
                    }

                    .mn-logo.open {
                        a {
                            color: transparent;


                        }
                    }

                    .hamb-button {
                        background-color: transparent;
                        font-size: 40px;
                        cursor: pointer;
                        display: flex;
                        margin-right: 1.5rem;
                        align-items: center;
                        cursor: pointer;
                        justify-content: center;
                        color: #fff !important;
                        z-index: 9998 !important;

                    }
                }

                .sidebar {
                    background-color: #fff;
                    bottom: 0;
                    display: flex;
                    flex-direction: column;
                    height: 100vh;
                    justify-content: space-between;
                    left: 0;
                    min-width: 50%;
                    overflow-x: hidden;
                    position: fixed;
                    top: 0;
                    transition: .3s ease-out;
                    width: 100%;
                    max-width: 50%;
                    transform: translateX(-100%);
                    z-index: 9997 !important;

                    .top {
                        display: flex;
                        flex-direction: column;
                        gap: max(1rem, 3vw);

                        .sb-logo {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            height: 70px;
                            border-bottom: 1px solid rgb(170, 170, 170);
                            padding: 0px 15px;


                            button {
                                outline: 0;
                                border: 0;
                                background: white;
                            }

                            a {
                                text-decoration: none;
                                color: black;
                                display: flex;
                                align-items: center;
                                gap: max(.25rem, .5vw);

                                h1 {
                                    font-size: max(20px, 4vw)
                                }
                            }

                            img {
                                height: 2.5rem;
                            }
                        }

                        .mn-list {
                            display: flex;
                            flex-direction: column;
                            gap: max(1rem, 5vw);
                            width: 93.5%;
                            padding: 0px 15px;

                            .sb-link {
                                align-items: center;
                                display: flex;
                                flex-direction: column;
                                overflow: hidden;
                                position: relative;
                                width: 100%;

                                a {
                                    align-items: center;
                                    color: var(--main-black);
                                    display: flex;
                                    gap: max(.25rem, .5vw);
                                    height: 100%;
                                    padding-left: max(.75rem, 2vw);
                                    position: relative;
                                    width: 100%;
                                    text-decoration: none;


                                    span {
                                        font-size: max(18px, 1.5vw);
                                        padding: max(.25rem, .5vw) 0;
                                        width: 100%;
                                        align-items: center;
                                        display: flex;
                                        height: 100%;
                                    }
                                }

                                .mnlink-icon {
                                    align-items: center;
                                    display: flex;
                                    height: max(2rem, 3vw);
                                    background-color: transparent;
                                    bottom: 0;
                                    cursor: pointer;
                                    font-size: max(20px, 1.5vw);
                                    justify-content: flex-end;
                                    padding-right: 2rem;
                                    position: absolute;
                                    right: 0;
                                    top: 0;
                                    width: 68%;
                                    z-index: 9999;
                                }

                                .mnlist-dropdown {
                                    height: 0;
                                    transition: .3s ease-out;
                                    width: 100%;
                                    text-decoration: none !important;

                                    li {
                                        font-size: 17px;
                                        cursor: pointer;
                                        width: 100%;
                                        text-decoration: none !important;

                                        a {
                                            align-items: center;
                                            display: flex !important;
                                            color: var(--main-black);
                                            flex-direction: row;
                                            font-size: max(13px, .85vw);
                                            gap: max(.5rem, 1vw);
                                            justify-content: flex-start;
                                            padding: max(.5rem, 1.5vw) max(.5rem, 1vw);
                                            text-decoration: none !important;
                                        }
                                    }

                                    li::marker {
                                        content: '';

                                    }
                                }

                                .mnlist-dropdown.open {
                                    width: 100%;
                                    transition: height .3s ease-in;
                                    height: 358px;
                                }
                            }
                        }

                        .thin-line {
                            background-color: #cfcfcf;
                            color: #cfcfcf;
                            height: 1px;
                            width: 100%;
                            transform: rotate(0deg);
                            opacity: .5;
                        }
                    }

                    .bottom {
                        display: flex;
                        flex-direction: column;
                        gap: max(1rem, 3vw);
                        padding: 0 max(.5rem, 1vw);

                        .fl-bottom {
                            align-self: flex-end;
                            display: flex;
                            flex-direction: column;
                            gap: max(1rem, 2vw);
                            width: 100%;

                            .bottom-links {
                                align-items: center;
                                display: flex;
                                flex-wrap: wrap;
                                gap: max(1rem, 2vw);
                                justify-content: center;

                                .bottom-top-link {
                                    gap: .5rem;
                                    align-items: center;
                                    display: flex;
                                    justify-content: center;
                                    padding: 0;

                                    a {
                                        gap: .5rem;
                                        align-items: center;
                                        background-color: transparent;
                                        cursor: pointer;
                                        display: flex;
                                        justify-content: center;
                                        overflow: hidden;
                                        position: relative;
                                        padding: 0;
                                        text-decoration: none;
                                        color: black;

                                        p {
                                            line-height: 1.7;
                                            transition: .5s ease-in-out;
                                            white-space: nowrap;
                                            z-index: 2;
                                            font-weight: 400;
                                            font-size: max(18px, 1vw);
                                            color: var(--main-black);
                                        }
                                    }
                                }
                            }

                            .bottom-links2 {
                                align-items: center;
                                display: flex;
                                flex-wrap: wrap;
                                gap: max(1rem, 5vw);
                                justify-content: center;

                                a {
                                    text-decoration: none;
                                    color: black;
                                    font-size: max(15px, .7vw);
                                }
                            }
                        }

                        .sl-bottom {
                            align-items: center;
                            display: flex;
                            justify-content: space-between;

                            p {
                                opacity: .5;
                            }

                            .b-right {
                                button {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .sidebar.open {
                    transform: translateX(0) !important;
                }

                .mn-background {
                    background-color: rgba(0, 0, 0, .8);
                    height: 100%;
                    left: 0;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    z-index: 7000 !important;
                    pointer-events: none !important;
                    display: none;
                }

                .mn-background.open {
                    display: block;
                }
            }
        }
    }
}

@media(max-width:420px) {
    .nav {
        .nav-container {
            .mobile-nav {
                .mn-container {
                    .mn-logo.open {
                        a {
                            font-size: .6rem;
                        }
                    }
                }

                .sidebar.open {
                    max-width: 75%;

                }

            }

        }
    }


}

@media(max-width:300px) {
    .nav {
        .nav-container {
            .mobile-nav {


                .sidebar.open {
                    max-width: 100%;

                }

            }

        }
    }


}

@media(max-width:14400px) {
    .mengamenu-container {


        .mm-right {
            width: 40% !important;
            padding: 0;
        }

        .divi {
            .cardss {
                width: 96% !important;
            }
        }

    }
}

@media(max-width:1280px) {
    .mengamenu-container {


        .mm-right {
            width: 50% !important;
            padding: 0;
        }

        .divi {
            .cardss {
                width: 97% !important;
            }

            .arrow-button.NEXT {
                right: 5.5% !important;
            }

            .arrow-button.PREV {
                right: 7.5% !important;
            }
        }

    }
}

@media(max-width:1150px) {
    .mengamenu-container {


        .mm-right {
            width: 55% !important;
            padding: 0;
        }

        .divi {
            .cardss {
                width: 98% !important;
            }
        }


    }
}